
html {
  margin: 0;
  padding: 0;
}
body.ui {
  background: url('site/page/bg_.jpg');
}
div.container {
  width: 100%;
  text-align: center;
  font-family: helvetica, sans-serif;
}
div.header {
  height:136px;
  background-color: #fffff0;
}
div.footer {
  background-color: #fffff0;
  padding: 12px;
}
div.center {
  text-align: center;
}
table {
  width: 100%;
}
table, td {
  border-collapse: collapse;
}
td {
  text-align: center;
  font-size: 18px;
  color: #999900;
}
h1 {
  margin: 0 auto 0 auto;
  padding: 0;
  width: 340px;
  line-height: 2em;
  color: #999900;
}
h3 {
  margin: 0 auto 0 auto;
  padding: 0;
  width: 240px;
  color: #12ae50;
}
p.attr {
  text-align: center;
  font-size: 14px;
  color: #999900;
}
input, img {
  cursor: pointer;
}
input {
  border-color: BlanchedAlmond;
  background-color: transparent;
}
.form_A {
  padding: 8px;
  font-size: 20px;
  color: Sienna;
}
.form_B {
  padding: 6px;
  font-size: 18px;
  color: Peru;
}
.logo {
  float: left;
  width: 134px;
  height: 134px;
}
.seal {
  float: right;
  width: 84px;
  height: 84px;
  margin: 20px;
}
.mlaa {
  float: left;
  width: 48px;
  height: 48px;
}
.aalm {
  float: right;
  width: 48px;
  height: 48px;
}

