
body.ui1 {
  background: url(site/page/bg_.jpg);
}
div.container {
  width: 100%;
  margin: 0;
}
div.footer, div.header {
  background-color: #fffff0;
  padding: 12px;
}
div.center {
  text-align: center;
}
table {
  width: 100%;
}
table, td {
  border: 0;
}
td {
  background-color: transparent;
  text-align: center;
  font-family: helvetica, sans-serif;
  font-size: 18px;
  color: #999900;
}
h1 {
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: helvetica, sans-serif;
  color: #999900;
  background-color: #fffff0;
}
h3 {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: helvetica, sans-serif;
  color: #12ae50;
  background-color: #fffff0;
}
p {
  text-align: center;
  font-family: helvetica, sans-serif;
  font-size: 14px;
  color: #999900;
  background-color: #fffff0;
}
.form_1 {
  border-color: BlanchedAlmond;
  background-color: transparent;
  padding: 8px;
  font-family: helvetica, sans-serif;
  font-size: 20px;
  color: Sienna;
  cursor: pointer;
}
.form_2 {
  border-color: BlanchedAlmond;
  background-color: transparent;
  padding: 8px;
  font-family: helvetica, sans-serif;
  font-size: 20px;
  color: Chocolate;
  cursor: pointer;
}
.form_3 {
  border-color: BlanchedAlmond;
  background-color: transparent;
  padding: 6px;
  font-family: helvetica, sans-serif;
  font-size: 18px;
  color: Peru;
  cursor: pointer;
}
.form_4 {
  border-color: BlanchedAlmond;
  background-color: transparent;
  padding: 6px;
  font-family: helvetica, sans-serif;
  font-size: 18px;
  color: Sienna;
  cursor: pointer;
}
.logo {
  float: left;
  width: 134px;
  height: 134px;
  margin: 0;
  cursor:pointer;
}
.seal {
  float: right;
  width: 84px;
  height: 84px;
  margin: 0;
  cursor:pointer;
}
.mlaa {
  float: left;
  width: 48px;
  height: 48px;
  margin: 0;
  cursor:pointer;
}
.aalm {
  float: right;
  width: 48px;
  height: 48px;
  margin: 0;
  cursor:pointer;
}
#pntr { 
  cursor: pointer;
}

