
body{
background-color:#808000;
text-align:center;}
h1{
text-align:center;
font-family:sans-serif;
color:#f0e68c;}
table{
margin-left:auto;
margin-right:auto;}
td.node {
background-color:#000000;
width:340px;
height:340px;}
td.base{
width:510px;
height:600;
background-color:#000000;}
p.attr{
text-align:center;
font-family:sans-serif;
font-size:12px;
color:#bdb76b;
margin:1em;}
p.chakra{
text-align:center;}
p.raga{
text-align:center;
font-family:verdana;
font-size:20px;
color:#c034f4;}
p.astro{
text-align:center;
font-family:arial;
font-size:18px;
color:#12ae50;}
p.retro{
text-align:center;
font-family:georgia;
font-size:18px;
color:#cc9900;}
p.key{
text-align:center;
font-family:arial;
font-size:16px;
color:goldenrod;}
input{
border-color:transparent;
background-color:#000000;
padding:10px;
font-family:sans-serif;
font-size:28px;
color:#808000;
cursor:pointer;}
