
div.container {
 
width:100%;
 
margin:0px; }
 
div.footer,div.header {
 
border: 1px solid #999900;
 
background-color: #fffff0;
 
padding: 2em; }


table {

width: 100%; }


table, td {
 
border: 0px solid transparent; }


 
td {
 
background-color: transparent;
 
text-align: center;
 
font-family: Papyrus, Sans-serif;
 
font-size: 18px;
 
color: #999900; }
 
 
h1 {
 
text-align: center;
 
font-family: Papyrus, Sans-serif;
 
color: #999900;
 
background-color: #fffff0;
 
margin-top: 1%;
 
margin-left: 34%;
 
margin-right: 34%; }
 
 
h3 {
 
position: absolute;
 
left: 520px;
 
top: 92px;
 
font-family: Papyrus, Sans-serif;
 
color: #12ae50;
 
background-color: #fffff0; }
 
 
p {
 
text-align: center;
 
font-family: Helvetica, Sans-serif;
 
font-size: 14px;
 
color: #999900;
 
background-color: #fffff0;
 
margin-bottom: 1%;
 
margin-left: 28%;
 
margin-right: 28%; }


.form_1 {

border-color:BlanchedAlmond;

background-color:transparent;

padding:8px;

font-family:Helvetica,Sans-serif;

font-size:20px;

color:Sienna; }


.form_2 {

border-color:BlanchedAlmond;

background-color:transparent;

padding:8px;

font-family:Helvetica,Sans-serif;

font-size:20px;

color:Chocolate; }


.form_3 {

border-color:BlanchedAlmond;

background-color:transparent;

padding:6px;

font-family:Helvetica,Sans-serif;

font-size:18px;

color:Peru; }


.form_4 {

border-color:BlanchedAlmond;

background-color:transparent;

padding:6px;

font-family:Helvetica,Sans-serif;

font-size:18px;

color:Sienna; }
 
 
.logo {
 
float: left;
 
width: 134px;
 
height: 134px;
 
margin: 8px; }
 
 
.seal {
 
float: right;
 
width: 84px;
 
height: 84px;
 
margin: 30px; }
 
 
.mlaa {
 
float: left;
 
width: 48px;
 
height: 48px;
 
margin: 0px; }
 
 
.aalm {
 
float: right;
 
width: 48px;
 
height: 48px;
 
margin: 0px; }


