
body {
  margin:0;
  padding:0;
  background-color:#fffff0;
}
.banner {
  text-align:center;
  font-family:sans-serif;
  font-size:24px;
  color:#d2b48c;
}
#echinacea {
  width:725px;
  margin:0 auto 0 auto;
  background-color:transparent;
}
.cmdui {
  text-align:center;
}
.bttn {
  margin:1px;
  border:1px solid transparent;
  border-radius:6px;
  padding:4px;
  background-color:inherit;
  font-family:monospace;
  font-size:16px;
  color:#4682b4;
  cursor:pointer;
}
.bttn:hover {
  border:1px solid #deb887;
  background-color:#ffffff;
  color:#a52a2a;
}
.lnks {
  line-height:30px;
  margin:0;
  border:1px solid transparent;
  border-radius:6px;
  padding:4px;
  background-color:inherit;
}
.lnks:hover {
  border:1px solid #deb887;
  background-color:#ffffff;
}
a {
  text-decoration:none;
  font-family:monospace;
  font-size:16px;
  color:#4682b4;
  cursor:pointer;
}
a:hover {
  color:#a52a2a;
}
#view {
  width:428px;
  margin:0 auto 0 auto;
  text-align:center;
}
iframe[name="_blmbs"] {
  width:430px;
  height:250px;
  margin:5px auto 0 auto;
  border:0;
  padding:6px 10px 0 0;
  overflow:hidden;
}
#imports {
  position:absolute;
  left:0;
  top:0;
  display:none;
  z-index:-1;
}
footer {
  padding:10px;
}
.attr {
  text-align:center;
  font-family:sans-serif;
  font-size:14px;
  color:#808080;
}
@media screen and ( max-width:730px ) {
  #echinacea {
    width:450px;
  }
}

