
body {
  margin:0;
  padding:0;
  background-color:#fffff0;
}
#logo {
  position:fixed;
  left:0;
  top:0;
}
#etude {
  width:1120px;
  margin:0 auto 0 auto;
}
canvas {
  border:0;
  font-size:12px;
}

